<script>

function charactersleft(tweet) {
    base = 280
    // assume 1 url 22 and substract 23 for an image
    x = tweet.indexOf('http')
    y = tweet.indexOf(' ', x)
    url_len = Math.min(y-x, 22) // 22 for twitter shortened url
    return base - url_len - (tweet.length - (y-x))
}
    
function display_chars_left() {
    var chars_div = document.getElementById("chars");
    var message = document.getElementById("txt").value;
    //chars_div.innerHTML = charactersleft(message)
    chars_div.innerHTML = String(message.length) + " (of 280)"
}
    
function set_image(image_name) {
    var image_field = document.getElementById("image_field");
    image_field.value = image_name
}

</script>

<%
if (not tweet.scheduled)
    tweet.scheduled_for = Time.now()
end
%>

<table>
<tr>

<td>
<%= form_for(tweet) do |f| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
        <image src="/images/<%=@tweet.image%>" width="600"/>
  </div>

  <div class="field">
    <div id="chars"></div>Status Text 
    <%= f.text_area :status, rows: 6, cols: 50, id: "txt", onkeypress: "javascript:display_chars_left()"%> 
  </div>

  <div class="field">
    <%= f.label :image%>
    <%= f.text_field :image, id: 'image_field', size: 40  %>
  </div>

  <div class="field">
    Image File
    <%= f.file_field :new_image %>
  </div>

    
  <div class="field">
    Account
    <%= f.collection_select(:twitter_account_id, TwitterAccount.all, :id, :name) %>
  </div>

  <div class="field">
  Send Status
  <%= @tweet.send_status %>
  </div>
    
  <div>
    <%= f.label :scheduled %>
    <%= f.check_box :scheduled %>
  </div>

  <div class="field">
    Scheduled for (UTC)
    <%= f.datetime_select :scheduled_for %>
  </div>

  <div class="field">
    <%= f.label :times_tweeted %>
    <%= @tweet.times_tweeted %>
  </div>

  <div class="field">
    <%= f.label :num_tweets_before_stop %>
    <%= @tweet.num_tweets_before_stop %>
  </div>
    
  <div class="field">
    <%= f.label :last_tweeted %>
      <%= if (@tweet.last_tweeted)
            distance_of_time_in_words(Time.now, @tweet.last_tweeted) + " ago"
          else
            "Never Tweeted"
          end
        %>
  </div>

  <div class="field">
    <%= f.label :frequency %>
    <%= f.number_field :frequency %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

  </td>

  <td> 
  
<table>
<h1>Schedule</h1>
<tr><td>Date</td><td>Tweet</td></tr>

<%
tweets = Tweet.all.order(scheduled_for: :asc)
tweets.each do | tweet |
  if (tweet.scheduled)
%>
<tr><td><%=tweet.scheduled_for%></td><td><a href="/tweets/<%=tweet.id%>/edit"><%=tweet.status%></a></tr>

<% end end %>

</table>

  </td>

  </tr>
  </table>

 
<% end %>


<h2>Twits</h2>

@nostarch @OReillyMedia @TAB_DIY @monkmakes @ntoll 

<h2>Tags</h2>

#arduino #raspberry_pi #microbit #electronics #maker

<hr/>