<p id="notice"><%= notice %></p>

<h1>Tweets</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Status</th>
      <th>Scheduled</th>
      <th>Last tweeted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.twitter_account.name %></td>          
        <td width="50%"><%= tweet.status %></td>
        <td>
            <%=
                if (tweet.scheduled)
                    tweet.scheduled_for
                else
                    "No"
                end
            %>
        </td>
        <td><%= if (tweet.last_tweeted)
            distance_of_time_in_words(Time.now, tweet.last_tweeted) + " ago"
          else
            "Never"
          end
        %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to "Tweet Now as " + tweet.twitter_account.name, tweet_path(tweet)+"/tweet" %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweet', new_tweet_path %>
