<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @tweet.status %>
</p>

<p>
  <strong>Image:</strong>
  <%= @tweet.image %>
</p>

<p>
  <strong>Last tweeted:</strong>
  <%= @tweet.last_tweeted %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @tweet.frequency %>
</p>

<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
