<p id="notice"><%= notice %></p>

<h1>Twitter Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Consumer key</th>
      <th>Consumer secret</th>
      <th>Access key</th>
      <th>Access secret</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @twitter_accounts.each do |twitter_account| %>
      <tr>
        <td><%= twitter_account.name %></td>
        <td><%= twitter_account.consumer_key %></td>
        <td><%= twitter_account.consumer_secret %></td>
        <td><%= twitter_account.access_key %></td>
        <td><%= twitter_account.access_secret %></td>
        <td><%= link_to 'Show', twitter_account %></td>
        <td><%= link_to 'Edit', edit_twitter_account_path(twitter_account) %></td>
        <td><%= link_to 'Destroy', twitter_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Twitter Account', new_twitter_account_path %>
